@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #7e95b1;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

/* Custom cs for table and tale elements */
table {
    border-collapse: collapse;
    box-shadow: 0 0 30px lightblue;
    border: 3px solid ;
    width: 100%;
}

th, td {
    border-collapse: collapse;
    background-color: #a8b0bc;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 2 px solid lightblue;
    box-shadow: 0 0 30px lightblue;
    box-sizing: border-box;
    text-align:center;
    vertical-align:middle;
  }


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}